<a href="https://colab.research.google.com/github/Darshini-25/Assignment/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**

In [ ]:
vegetables=["potato","raddish","beans","carrot","tomato","onion"]
print(vegetables)

#append
vegetables.append("pumpkin")
print(vegetables)

#insert
vegetables.insert(1,"sweetpotato")
print(vegetables)

#sort
vegetables.sort()
print(vegetables)

#reverse
vegetables.reverse()
print(vegetables)

#pop
vegetables.pop()
print(vegetables)

#remove
vegetables.remove("raddish")
print(vegetables)

#slicing
print(vegetables[0:4])

['potato', 'raddish', 'beans', 'carrot', 'tomato', 'onion']
['potato', 'raddish', 'beans', 'carrot', 'tomato', 'onion', 'pumpkin']
['potato', 'sweetpotato', 'raddish', 'beans', 'carrot', 'tomato', 'onion', 'pumpkin']
['beans', 'carrot', 'onion', 'potato', 'pumpkin', 'raddish', 'sweetpotato', 'tomato']
['tomato', 'sweetpotato', 'raddish', 'pumpkin', 'potato', 'onion', 'carrot', 'beans']
['tomato', 'sweetpotato', 'raddish', 'pumpkin', 'potato', 'onion', 'carrot']
['tomato', 'sweetpotato', 'pumpkin', 'potato', 'onion', 'carrot']
['tomato', 'sweetpotato', 'pumpkin', 'potato']

**Tuple**

In [ ]:
t=(5,45.6,8,"car","fruits",25,44,"car")
print(t)

#count-->count the occurance of the value/data in given tuple
print(t.count("car"))
print(t.count(8))

#index-->displays the index value for the specified data
print(t.index(25))

#slicing
print(t[-4:-2])

(5, 45.6, 8, 'car', 'fruits', 25, 44, 'car')
2
1
5
('fruits', 25)

**dictionary**

In [ ]:
details={"name":"darshini",
         "number":12345678,
         "course":"cse"
    }
print(details)
print(details.items())
print(details.keys())

#update
details.update({"state":"karnataka","number":98765432})
print(details)

{'name': 'darshini', 'number': 12345678, 'course': 'cse'}
dict_items([('name', 'darshini'), ('number', 12345678), ('course', 'cse')])
dict_keys(['name', 'number', 'course'])
{'name': 'darshini', 'number': 98765432, 'course': 'cse', 'state': 'karnataka'}

**slicing**

In [ ]:
a="roller coaster"
print(a[-14:-8])
print(a[-7:-2])
print(a[-5:15])
print(a[0:-10])

roller
coast
aster
roll

**step indexing**

In [ ]:
b="teachnook internship"
print(b[-20::1])
print(b[-4::1])
print(b[-12:-7:2])
print(b[-16:-21:-2])
print(b[-1:-20:-9])

teachnook internship
ship
kit
hat
pie

**Frozen set**

In [ ]:
#set
s=set()
print(s)
print(type(s))

#frozen set
f=frozenset()
print(f)
print(type(f))

s={1,2,3,4}
l=['Denmark','Australia','Russia','Spain','HolySee']
t=('V','O','W','E','L')
f=frozenset(l)
print(f)
f1=frozenset(t)
print(f1)

set()
<class 'set'>
frozenset()
<class 'frozenset'>
frozenset({'Denmark', 'Russia', 'HolySee', 'Australia', 'Spain'})
frozenset({'O', 'L', 'W', 'V', 'E'})